In [4]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

In [5]:
cars = pd.read_csv('cars.csv')

print(cars.shape,'\n')
print(cars.info(),'\n')

(22556, 13)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22556 entries, 0 to 22555
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YEAR             22556 non-null  int64
 1   MAKE             22556 non-null  object
 2   MODEL            22556 non-null  object
 3   VEHICLE CLASS    22556 non-null  object
 4   ENGINE SIZE      22556 non-null  float64
 5   CYLINDERS        22556 non-null  int64
 6   TRANSMISSION     22556 non-null  object
 7   FUEL             22556 non-null  object
 8   CITY (L/100 km)  22556 non-null  float64
 9   HWY (L/100 km)   22556 non-null  float64
 10  COMB (L/100 km)  22556 non-null  float64
 11  COMB (mpg)       22556 non-null  int64
 12  EMISSIONS        22556 non-null  int64
dtypes: float64(4), int64(4), object(5)
memory usage: 2.2+ MB
None

In [12]:
cars

,YEAR,MAKE,MODEL,VEHICLE CLASS,ENGINE SIZE,CYLINDERS,TRANSMISSION,FUEL,CITY (L/100 km),HWY (L/100 km),COMB (L/100 km),COMB (mpg),EMISSIONS
0,2000,ACURA,1.6EL,COMPACT,1.6,4,A4,X,9.2,6.7,8.1,35,186
1,2000,ACURA,1.6EL,COMPACT,1.6,4,M5,X,8.5,6.5,7.6,37,175
2,2000,ACURA,3.2TL,MID-SIZE,3.2,6,AS5,Z,12.2,7.4,10.0,28,230
3,2000,ACURA,3.5RL,MID-SIZE,3.5,6,A4,Z,13.4,9.2,11.5,25,264
4,2000,ACURA,INTEGRA,SUBCOMPACT,1.8,4,A4,X,10.0,7.0,8.6,33,198
...,...,...,...,...,...,...,...,...,...,...,...,...,...
22551,2022,Volvo,XC40 T5 AWD,SUV: Small,2.0,4,AS8,Z,10.7,7.7,9.4,30,219
22552,2022,Volvo,XC60 B5 AWD,SUV: Small,2.0,4,AS8,Z,10.5,8.1,9.4,30,219
22553,2022,Volvo,XC60 B6 AWD,SUV: Small,2.0,4,AS8,Z,11.0,8.7,9.9,29,232
22554,2022,Volvo,XC90 T5 AWD,SUV: Standard,2.0,4,AS8,Z,11.5,8.4,10.1,28,236
22555,2022,Volvo,XC90 T6 AWD,SUV: Standard,2.0,4,AS8,Z,12.4,8.9,10.8,26,252

In [ ]:
city_km_l = (100/cars['CITY (L/100 km)']).round(2)
HWY_km_l  = (100/cars['HWY (L/100 km)']).round(2)
COMB_km_l = (100/cars['COMB (L/100 km)']).round(2)



pd.DataFrame([],[city_km_l,HWY_km_l,COMB_km_l,cars['EMISSIONS']])

Empty DataFrame
Columns: []
Index: [(10.87, 14.93, 12.35, 186), (11.76, 15.38, 13.16, 175), (8.2, 13.51, 10.0, 230), (7.46, 10.87, 8.7, 264), (10.0, 14.29, 11.63, 198), (10.75, 14.71, 12.2, 189), (10.64, 14.29, 12.05, 191), (7.35, 10.87, 8.62, 267), (7.25, 10.99, 8.55, 269), (8.77, 13.89, 10.53, 218), (10.31, 14.71, 11.9, 193), (7.69, 12.2, 9.26, 248), (8.55, 13.33, 10.2, 225), (8.26, 12.99, 9.9, 232), (9.35, 13.33, 10.75, 214), (7.52, 11.76, 9.01, 255), (7.87, 11.49, 9.17, 251), (7.46, 11.63, 8.93, 258), (7.25, 10.99, 8.55, 269), (7.35, 11.11, 8.7, 264), (7.35, 10.99, 8.62, 267), (7.25, 10.99, 8.55, 269), (7.69, 10.87, 8.85, 260), (7.19, 10.99, 8.55, 269), (7.19, 10.99, 8.55, 269), (7.35, 11.11, 8.7, 264), (7.35, 10.99, 8.62, 267), (8.62, 13.16, 10.2, 225), (8.62, 12.99, 10.2, 225), (9.17, 13.7, 10.75, 214), (8.62, 12.99, 10.2, 225), (7.69, 11.24, 8.93, 258), (8.06, 11.63, 9.35, 246), (8.13, 12.82, 9.71, 237), (8.7, 13.33, 10.31, 223), (8.13, 12.82, 9.71, 237), (8.7, 13.33, 10.31, 223), (8.06, 12.66, 9.62, 239), (8.7, 13.33, 10.31, 223), (8.06, 12.66, 9.62, 239), (8.7, 13.33, 10.31, 223), (7.69, 11.9, 9.17, 251), (8.7, 13.33, 10.31, 223), (7.69, 11.9, 9.17, 251), (7.75, 12.05, 9.26, 248), (7.63, 11.36, 8.93, 258), (6.8, 10.99, 8.2, 281), (7.19, 9.9, 8.2, 281), (7.25, 10.87, 8.55, 269), (7.25, 10.87, 8.55, 269), (5.78, 9.26, 6.94, 331), (8.06, 11.76, 9.43, 244), (8.06, 11.76, 9.43, 244), (5.65, 9.62, 6.94, 331), (7.52, 11.63, 8.93, 258), (8.0, 12.05, 9.43, 244), (8.4, 12.5, 9.9, 232), (8.06, 11.9, 9.43, 244), (8.06, 11.9, 9.43, 244), (5.75, 9.01, 6.85, 336), (8.62, 13.7, 10.31, 223), (8.13, 13.7, 10.0, 230), (7.81, 12.99, 9.52, 242), (7.41, 12.5, 9.09, 253), (8.33, 13.51, 10.1, 228), (7.41, 12.5, 9.09, 253), (7.63, 11.36, 8.93, 258), (7.19, 12.35, 8.85, 260), (7.19, 12.35, 8.85, 260), (5.21, 7.46, 6.02, 382), (7.19, 12.35, 8.85, 260), (6.54, 9.01, 7.46, 308), (6.37, 8.77, 7.25, 317), (6.9, 9.26, 7.81, 294), (6.29, 8.4, 7.09, 324), (6.9, 9.26, 7.81, 294), (6.85, 10.1, 8.0, 288), (6.58, 9.01, 7.46, 308), (5.92, 8.06, 6.71, 343), (6.29, 8.4, 7.09, 324), (5.99, 8.13, 6.8, 338), (6.85, 9.62, 7.87, 292), (5.85, 9.09, 6.94, 331), (6.67, 9.26, 7.63, 301), (6.21, 8.33, 6.99, 329), (5.15, 7.35, 5.95, 386), (8.06, 13.33, 9.8, 235), (8.2, 14.08, 10.1, 228), (7.25, 10.99, 8.55, 269), (7.63, 12.35, 9.26, 248), (9.8, 14.49, 11.49, 200), (9.26, 15.38, 11.24, 205), (9.09, 13.51, 10.64, 216), (9.35, 15.38, 11.36, 202), (9.62, 13.33, 10.99, 209), (7.19, 10.99, 8.55, 269), (7.81, 12.66, 9.43, 244), (6.25, 8.4, 7.04, 327), (6.1, 8.47, 6.99, 329), (5.75, 7.87, 6.54, 352), ...]

[22556 rows x 0 columns]